body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

html{
    padding: 0;
    margin: 0;
    background: #333;
    color: #fff;
}

table{
    border-spacing: 0;
}

input, textarea, button {
    background: #333;
    border: white 1px solid;
    border-radius: 3px;
    padding: 3px;
    color: white;
    max-width: 100%;
}

button:hover{
    background: #666;
}

button:active{
    background: #444;
}

tr:hover{
    background: #555;
}

td{
    line-height: 15pt;
    padding: 5px 10px;
}

.windowTitle{
    display: grid;
    grid-template-columns: 1fr 100px;
}

.windowTitle .title{
    -webkit-app-region: drag;
    padding: 8px;
}

.windowTitle .button{
    text-align: right;
}

.windowTitle .button button{
    padding: 0 5px;
    border: none;
    background: none;
    height: 100%;
}

.windowTitle .button button:hover{
    background: #666;
}

.windowTitle .button button:active{
    background: #444;
}

.windowTitle .button button:focus{
    outline: none;
}

.windowTitle .button svg{
    fill: white;
}

div.tab {
    overflow: hidden;
    border: 1px solid #CCC;
    background: #444;
}
/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    color: white;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #666;
}

/* Create an active/current tablink class */
div.tab button[active] {
    background-color: #333;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
}

.gridwrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    grid-auto-columns: max-content;
}

.gridwrapper > div{
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 10px;
}